body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

h1,h2 {
    color: #333;
}